.slidein {
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: -100%;
      /* width: 300% */
    }
  
    to {
      margin-top: 0%;
      /* width: 100%; */
    }
  }

  .slideinDetails {
    animation-duration: .3s;
    animation-name: slideinDetails;
    position: relative;
    
  }
  
  @keyframes slideinDetails {
    from {
      margin-top: -100%;
      opacity: 0;
      /* width: 300% */
    }
  
    to {
      margin-top: 0%;
      opacity: 1;
      /* width: 100%; */
    }
  }


  .animacionLogo.is-click {
    animation-name: click;
    animation-duration: 2s;
    animation-timing-function: steps(39);
    animation-fill-mode: forwards;
}
@keyframes click {
    0%{

      background-position: 0 0;
    }
    100%{

        background-position: right;
    }
}



/* ---------------- animacion modal  */

.modal {
  animation: animationIn 1s forwards;
}

@keyframes animationIn {
  0% {
      transform: translateY(-3000px)
  }
  60% {
      transform: translateY(25px);
  }
  75% {
      transform: translateY(-10px);
  }
  90% {
      transform: translateY(5px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes animationOut{
  0%{
      transform: translateY(0);	
  }
  10%{
      transform: translateY(5px);
  }
  25%{
      transform: translateY(-10px);
  }
  40%{
      transform: translateY(25px);
  }
  100%{
      transform: translateY(-3000px);
  }
}










  .contactTitle i{

    border-radius: 50%;

    transform: scale(1);
    animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}