.slidein {
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: -100%;
      /* width: 300% */
    }
  
    to {
      margin-top: 0%;
      /* width: 100%; */
    }
  }

  .slideinDetails {
    animation-duration: .3s;
    animation-name: slideinDetails;
    position: relative;
    
  }
  
  @keyframes slideinDetails {
    from {
      margin-top: -100%;
      opacity: 0;
      /* width: 300% */
    }
  
    to {
      margin-top: 0%;
      opacity: 1;
      /* width: 100%; */
    }
  }


  .animacionLogo.is-click {
    animation-name: click;
    animation-duration: 2s;
    animation-timing-function: steps(39);
    animation-fill-mode: forwards;
}
@keyframes click {
    0%{

      background-position: 0 0;
    }
    100%{

        background-position: right;
    }
}



/* ---------------- animacion modal  */

.modal {
  animation: animationIn 1s forwards;
}

@keyframes animationIn {
  0% {
      transform: translateY(-3000px)
  }
  60% {
      transform: translateY(25px);
  }
  75% {
      transform: translateY(-10px);
  }
  90% {
      transform: translateY(5px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes animationOut{
  0%{
      transform: translateY(0);	
  }
  10%{
      transform: translateY(5px);
  }
  25%{
      transform: translateY(-10px);
  }
  40%{
      transform: translateY(25px);
  }
  100%{
      transform: translateY(-3000px);
  }
}




.animacionBola{
  animation-name: movimiento, rebote;
  animation-duration: 3s, .3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear, ease-in-out;
}


@keyframes movimiento{
  0% {
      left: 0%;
  }
  100%{
      left: calc(100% - 50px);
  }
}

@keyframes rebote{
  0%{
      transform:translateY(-50%) ;
  }
  100% {
      transform: translateY(50%) scale(1.1, .9);
  }
}





.icon-bell.notify:before {
  animation-name: bell;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes bell {
  0% {
      transform: rotate(35deg);
  }

  12.5% {
      transform: rotate(-30deg);
  }
  25% {
      transform: rotate(25deg);
  }
  37.5% {
      transform: rotate(-20deg);
  }
  50% {
      transform: rotate(15deg);
  }
  62.5% {
      transform: rotate(-10deg);
  }
  75% {
      transform: rotate(5deg);
  }

  100% {
      transform: rotate(0deg);
  }
}



.wave {
  animation: 5s wave ease-in-out infinite alternate;
}

@keyframes wave {
  0%{
     transform: translateX(0) translateY(0);         
  }
  50%{
     /* transform: translateX(-80px) translateY(30px);          */
     transform: translateX(-40px) translateY(20px);         

  }
  100%{
     /* transform: translateX(160px) translateY(-60px);          */
     transform: translateX(80px) translateY(-30px);         

  }
}







.radio.a{

  animation-name: radioAanimation;
  animation-duration: 10s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}
.radio.b{
  transform: rotateX(30deg) rotateZ(30deg);

  animation-name: radioBanimation;
  animation-duration: 10s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.radio.c{
  transform: rotateX(60deg) rotateZ(60deg);

  animation-name: radioCanimation;
  animation-duration: 10s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.radio.d{
  transform: rotateX(90deg) rotateZ(90deg);

  animation-name: radioDanimation;
  animation-duration: 10s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.radio.e{
  transform: rotateX(120deg) rotateZ(120deg);

  animation-name: radioEanimation;
  animation-duration: 10s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.radio.f{
  transform: rotateX(150deg) rotateZ(150deg);

  animation-name: radioFanimation;
  animation-duration: 10s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



@keyframes radioAanimation {

  0% {
      transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
      transform: rotateX(360deg) rotateY(360deg);
  }


}
@keyframes radioBanimation {

  0% {
      transform: rotateX(30deg) rotateY(30deg);
  }

  100% {
      transform: rotateX(390deg) rotateY(390deg);
  }

}
@keyframes radioCanimation {

  0% {
      transform: rotateX(60deg) rotateY(60deg);
  }

  100% {
      transform: rotateX(420deg) rotateY(420deg);
  }

}
@keyframes radioDanimation {

  0% {
      transform: rotateX(90deg) rotateY(90deg);
  }

  100% {
      transform: rotateX(450deg) rotateY(450deg);
  }

} 
@keyframes radioEanimation {

  0% {
      transform: rotateX(120deg) rotateY(120deg);
  }

  100% {
      transform: rotateX(480deg) rotateY(480deg);
  }

} 
@keyframes radioFanimation {

  0% {
      transform: rotateX(150deg) rotateY(150deg);
  }

  100% {
      transform: rotateX(510deg) rotateY(510deg);
  }

} 





.payaso:hover .payaso__nariz{
  animation-name: ColorNariz;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


@keyframes ColorNariz {
  0% {
      background-color: blue;
  }
  20% {
      background-color: green;
  }
  40% {
      background-color: yellow;
  }
  60% {
      background-color: violet;
  }
  80% {
      background-color: red;
  }
}


.payaso:hover .payaso__menton{
  animation-name: tamanoMenton;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  
}

@keyframes tamanoMenton{
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2, 1);
  }
  100% {
      transform: scale(1);
  }
}

.payaso:hover .payaso__mentonBoca {
  animation-name: MuecaBoca;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes MuecaBoca {

  0% {width: 170px;
      height: 50px;
      

  }
  20%{
      right: 60px;

  }
  40%{
      right: 70px;
  }
  60%{
      right: 80px;
  }
  80%{
      right: 90px;
  }

  100% {
      width: 50px;
      height: 40px;
      background-color: black;
      right: 100px;

}}


.payaso:hover .payaso__cabeza, .payaso__orejaIzquierda, .payaso__orejaDerecha{

  animation-name: CambiaCabeza;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes CambiaCabeza {
  0%{

  }
  50% {
      transform: scale(1.1);
  }
  100%{
      background-color: rgb(233, 172, 153);
      transform: scale(1.1);
  }
}


.payaso:hover .payaso__cejaIzquierda{
  animation-name: cejaIzquierda;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes cejaIzquierda {
  0%{

  }
  100% {
      transform: scale(1.6) translateY(10px) translateX(-5px);
  }
}

.payaso:hover .payaso__cejaDerecha{
  animation-name: cejaDerecha;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes cejaDerecha {
  0%{

  }
  100% {
      transform: scale(1.6, 1.6) translateY(20px) translateX(5px) rotateZ(-26deg);
  }
}


.payaso:hover .payaso__ojosContainer{
  animation-name: TamanoOjos;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes TamanoOjos{
  0%{

  }
  100% {
      transform: scale(1.2);
  }
}


.payaso:hover .payaso__ojos--pupilaIzquierda, .payaso__ojos--pupilaDerecha{

  animation-name: PosicionPupila;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes PosicionPupila{
  0%{

  }
  100%{
      transform: translateY(-10px);
  }
}


.payaso:hover .payaso__mono{
  animation-name: GiroMono;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes GiroMono{
  100% {
      transform: rotateZ(360deg);
  }
}







  .contactTitle i{

    border-radius: 50%;

    transform: scale(1);
    animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}