:root  {
--verdeFuerte: #008037;
--verdeMedio: #7ED957;
--verdeClaro: #C9E265;

--VerdeBackground: #e1ecb1;

--azulOscuro: #3F3D56;
--celesteGris: #d6d6e9;

} 





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: var(--azulOscuro);
    align-items: center;

}
.headerContainer {
    width: 100%;
    display: inherit;
    justify-content: inherit;
    
    align-items: center;
}

header figure {
    height: 50px;
}

header figure img {
    height: 100%;
}


header nav ul {
    
    list-style: none;
    display: flex;
    
}

header nav li {
    margin-left: 10px;
    border: solid 1px green
}

.hero   {
    background-image: url("../imagenes/hero1.png");
    background-repeat: no-repeat;
    background-position: right;
    min-height: 500px;
    
}
.hero h1 {
    max-width: 50%;
    font-size: 3rem;
    padding: 40px 0px 0px 20px;
    background-color: transparent;
}

h1  {
    
    padding: 10px 20px;
}

.titleContainer {
    cursor: pointer;
    display: flex;
    background-color: #3F3D56;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 100px;
    color: white;
}
.titleContainer:hover {
    /* background-color: rgb(94, 119, 128); */
    opacity: .8;
    

}

.title{
    /* background-color: lightblue; */

}

.aboutMe, .Experience, .studies, .interest {
    margin: 0 15px;
}

.roundTitle {
    border-radius: 50%;
    background-color: var(--verdeMedio);
    width: 70px;
    height: 70px;
    padding: -50px;

}
.roundRelleno{
    border-radius: 50%;
    background-color: var(--azulOscuro);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.details {
    margin: 0 30px;
}


/* -------------------------- about me */

.aboutMeDetails {
    padding: 10px 20px;
    background-color: var(--VerdeBackground);
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "aboutMeImgContainer  aboutMeText";
    /* margin: 0 30px; */
}


.aboutMeImgContainer{
    /* width: 100%; */
    grid-area: aboutMeImgContainer;
}

.aboutMeImg {
    width: 100%;
}

.aboutMeText {
grid-area: aboutMeText;
font-weight: 600;
letter-spacing: 1px;
padding-top: 20px;
color:  var(--azulOscuro);
}






/* ----------------------------------- experience */

.experienceDetails {
    background-color: var(--celesteGris);
    /* margin: 0 30px; */
    display: none;
}


.empresa {
    
    margin: 0 20px;
}

.empresaContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--azulOscuro);
}

.detalle-empresa {
    width: 60%;
    padding: 10px;
}

.titulo-empresa{
    /* color: var(--verdeMedio); */
    /* background-color: var(--VerdeBackground); */
    background-color: var(--verdeMedio);
    padding: 10px 0 10px 10px;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 10px;
}

.subtitulo-empresa{
    padding-bottom: 10px;
}

.posicion-empresa{
    padding-bottom: 10px;
    
}
.fecha-empresa {
    padding-bottom: 10px;
    color: rgb(53, 59, 53);
}
.puesto-empresa {
    padding-bottom: 10px;
}

.imagen-empresaContainer{
    max-width: 35%;
    padding-right: 30px;
}

.posicion-empresaViajando {
    color: rgb(96, 110, 96);
    font-size: 1rem;
}




/* ---------------------- studies section  */


.studiesDetails {
    background-color: aliceblue;
    display: none;
}




.unlaContainer {
    display: flex;
    border: 1px solid var(--azulOscuro);
    padding: 30px 15%;
    justify-content: space-between;
    align-items: center;
}

.imgUnlaContainer{
    width: 200px;
}

.ImgUnla {
    width: 100%;
}

.platziContainer {
    display: flex;
    border: 1px solid var(--azulOscuro);
    padding: 30px 10%;
    justify-content: space-between;
    align-items: center;

}

.imgPlatziContainer{
   width: 200px;
   /* overflow: hidden; */
}

.imgPlatzi {
    width: 100%;
}


.idiomasContainer {
    display: flex;
    border: 1px solid var(--azulOscuro);
    padding: 30px 30%;
    justify-content: space-between;
    align-items: center;

}



/* ------------------------ interest section  */

.interestDetails {
    display: none;
}
.musicaContainer{
    display: flex;
    /* border: solid 1px ; */
    justify-content: flex-end;
    align-items: center;
    padding: 10% 10% 0 10%;
}

.musicaTextContainer{
    width: 50%;
    padding-right: 10px;
    text-align: end;
}

.musicaTitle{
    color: var(--azulOscuro);
}

.musicaImgContainer {
    width: 320px
}

.musicaImg{
    width: 100%;

}

/* ----- */

.yogaContainer {
    display: flex;
    /* border: solid 1px ; */
    align-items: center;
   
   
}

.yogaImgContainer {
    width: 400px

}

.yogaImg{
    width: 100%;

}

.yogaTextContainer {
    width: 40%;
}

.yogaTitle{
    color: var(--azulOscuro);
}

/* ------- */

.paisesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%
}

.paisesTextContainer{
    width: 40%;
    text-align: end;
    padding:10px;
}
.viajarTitle{
    color: var(--azulOscuro);
}

.titleContinentContainer {
    cursor: pointer;
    display: flex;
    background-color: #3F3D56;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 100px;
    color: white;
    min-width: 240px;
}
.titleContinentContainer:hover {
    opacity: .8;
}

.roundTitlePais {
    border-radius: 50%;
    background-color: var(--verdeMedio);
    width: 30px;
    height: 30px;
    padding: -50px;

}
.roundRellenoPais {
    border-radius: 50%;
    background-color: var(--azulOscuro);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.continente{

}


.banderasContainer {
    display: none;
}